page-lists {
    // rules for spacing nav bar icons
    .bar-button-md {
        margin-left: 0.8rem !important;
        margin-right: 0.8rem !important;
    }
    .bar-button-ios {
        padding: 0 5px !important;
    }

// rules for extending bottom border completely across and eliminating double lines
    .item-block {
        border-bottom: 1px solid #dedede;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #dedede;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0px solid #c8c7cc;
    }

    // android bug fix
    .item-md.activated {
        background-color: #ffffff
    }

    ion-list[zebra] {
        ion-item-sliding:nth-child(even) ion-item {
            background-color: $item-even;
        }
    }
}
